@model FastMechanical.Models.ViewModel.BaixarEstoqueViewModel

@{
    ViewData["Title"] = "Baixar estoque ";
}

@if (TempData["SuccessMessage"] != null) {
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null) {
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @TempData["ErrorMessage"]
    </div>
}


<div class="">
    <h3 class="display-6">@ViewData["TItle"]</h3>
</div>
<hr />


<form class="row g-3" asp-action="BaixarEstoque">
    <div class="col-md-6">
        <label class="form-label">Material</label><span class="text-danger">*</span>
        <select asp-for="@Model.Material" class="form-select">
            @foreach (var item in Model.ListaMateriais) {
                <option value="@item.Id">@item.Nome</option>
            }
        </select>
        <span asp-validation-for="@Model.Material" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="@Model.Baixa" class="form-label"></label><span class="text-danger">*</span>
        <input asp-for="@Model.Baixa" type="number" class="form-control" placeholder="Digite a quantidade baixada">
        <span asp-validation-for="@Model.Baixa" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="@Model.Observacao" class="form-label"></label><span class="text-danger">*</span>
        <input asp-for="@Model.Observacao" type="tel" class="form-control" placeholder="Observação da baixa">
        <span asp-validation-for="@Model.Observacao" class="text-danger"></span>
    </div>

    <div class="col-12 mb-5">
        <button type="submit" class="btn btn-success">Cadastrar</button>
        <a role="button" class="btn btn-outline-secondary" asp-action="Index" asp-controller="Almoxarifado">Voltar</a>
    </div>

</form>

