@using System.Globalization;
@model IEnumerable<Materiais>

@{
    ViewData["Title"] = $"Materiais do almoxarifado";
}

@if (TempData["SuccessMessage"] != null) {
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null) {
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @TempData["ErrorMessage"]
    </div>
}

<div class="row me-5">
    <div class="col-lg-16">
        <span class="display-4">@ViewData["Title"]</span>
    </div>
    <hr />
    <div class="col-lg-16 mt-3 me-3">
        <a asp-action="NovoMaterial" asp-controller="Almoxarifado" class="link-dark float-start ms-5"><i class="fas fa-plus d-block text-center" style="font-size:2rem; "></i><span>Novo material</span></a>
        <a asp-action="Index" asp-controller="Almoxarifado" class="link-dark float-start ms-5"><i class="fas fa-warehouse d-block text-center text-success" style="font-size:2rem; "></i><span>Ativos</span></a>
        <a asp-action="MateriaisDesativados" asp-controller="Almoxarifado" class="link-dark float-start ms-5"><i class="fas fa-warehouse d-block text-center text-danger" style="font-size:2rem; "></i><span>Inativos</span></a>
        <a asp-action="BaixarEstoque" asp-controller="Almoxarifado" class="link-dark float-start ms-5"><i class="fas fa-arrow-down d-block text-center text-danger" style="font-size:2rem; "></i><span>Baixar estoque</span></a>
        <a asp-action="EntrarEstoque" asp-controller="Almoxarifado" class="link-dark float-start ms-5"><i class="fas fa-arrow-up d-block text-center text-success" style="font-size:2rem; "></i><span>Entrar estoque</span></a>
        <a asp-action="VenderEstoque" asp-controller="Almoxarifado" class="link-dark float-start ms-5"><i class="fas fa-arrow-down d-block text-center text-danger" style="font-size:2rem; "></i><span>Vender estoque</span></a>
    </div>


</div>
<br />

<table class="table table-striped text-center" id="table-contacts">
    <thead>
        <tr>

            <th class="text-center" scope="col">@Html.DisplayNameFor(model => model.Codigo)</th>
            <th class="text-center" scope="col">@Html.DisplayNameFor(model => model.Nome)</th>
            <th class="text-center" scope="col">@Html.DisplayNameFor(model => model.Quantidade)</th>
            <th class="text-center" scope="col">@Html.DisplayNameFor(model => model.UnidadeMedidade)</th>
            <th class="text-center" scope="col">Valor venal</th>


            @if (Model != null && Model.Any()) {
                <th class="text-center" scope="col">Ações</th>
            }
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any()) {
            @foreach (var item in Model) {
                <tr>
                    <td>@item.Codigo</td>
                    <td>@item.Nome</td>
                    <td>@item.Quantidade</td>
                    <td>@item.UnidadeMedidade</td>
                    @{
                        var valor = item.PorcentagemLucro * item.ValorCusto + item.ValorCusto;
                    }
                    <td>@string.Format(CultureInfo.GetCultureInfo("pt-BR"), "{0:C}", valor)</td>
                    <td>
                        @if (item.Status == FastMechanical.Models.Enums.Status.Ativado) {
                            <a role="button" class="btn btn-primary" asp-route-id="@item.Id" asp-controller="Almoxarifado" asp-action="EditarMaterial">Editar</a>
                            <a role="button" class="btn btn-dark" asp-route-id="@item.Id" asp-controller="Almoxarifado" asp-action="DetalhesMaterial">Detalhes</a>
                            <a role="button" class="btn btn-danger" asp-route-id="@item.Id" asp-controller="Almoxarifado" asp-action="DesabilitarMaterial">Desativar</a>
                        }
                        @if (item.Status == FastMechanical.Models.Enums.Status.Desativado) {
                            <a role="button" class="btn btn-primary" asp-route-id="@item.Id" asp-controller="Almoxarifado" asp-action="EditarMaterial">Editar</a>
                            <a role="button" class="btn btn-dark" asp-route-id="@item.Id" asp-controller="Almoxarifado" asp-action="DetalhesMaterial">Detalhes</a>
                            <a role="button" class="btn btn-success " asp-route-id="@item.Id" asp-controller="Almoxarifado" asp-action="HabilitarMaterial">Ativar</a>
                        }
                    </td>
                </tr>
            }
        }
        else {
            <tr class="odd"><td valign="top" colspan="5">Nenhum registro encontrado</td></tr>
        }

    </tbody>
</table>