@model FastMechanical.Models.Veiculo

@{
    ViewData["Title"] = "Editar veículos";
}


<div class="">
    <h3 class="display-6">@ViewData["TItle"]</h3>
</div>
<hr />


<form class="row g-3" asp-action="Edit">
    <div class="col-md-6">
        <label asp-for="@Model.Renavam" class="form-label"></label><span class="text-danger">*</span>
        <input asp-for="@Model.Renavam" type="text" class="form-control" placeholder="Digite o número Renavam">
        <span asp-validation-for="@Model.Renavam" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="@Model.Placa" class="form-label"></label><span class="text-danger">*</span>
        <input asp-for="@Model.Placa" type="text" class="form-control" placeholder="Digite a placa do veículo">
        <span asp-validation-for="@Model.Placa" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="@Model.Modelo" class="form-label"></label><span class="text-danger">*</span>
        <input asp-for="@Model.Modelo" type="text" class="form-control" placeholder="Digite o modelo">
        <span asp-validation-for="@Model.Modelo" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="@Model.Cor" class="form-label"></label><span class="text-danger">*</span>
        <input asp-for="@Model.Cor" type="text" class="form-control" placeholder="Digite a cor do veículo">
        <span asp-validation-for="@Model.Cor" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="@Model.Marca" class="form-label"></label><span class="text-danger">*</span>
        <input asp-for="@Model.Marca" type="text" class="form-control" placeholder="Digite a marca do veículo">
        <span asp-validation-for="@Model.Marca" class="text-danger"></span>
    </div>
    
    <div class="col-12 mb-5">
        <button type="submit" class="btn btn-success">Cadastrar</button>
        <a role="button" class="btn btn-outline-secondary" asp-action="Index" asp-controller="Veiculo">Voltar</a>
    </div>

</form>
