@using System.Globalization;
@model FastMechanical.Models.ViewModel.AtendimentoViewModel


@{
    ViewData["Title"] = $"Finalização de atendimento";
}

@if (TempData["SuccessMessage"] != null) {
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null) {
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @TempData["ErrorMessage"]
    </div>
}

<br />
<div class="row me-5">
    <div class="col-lg-10 mb-1">
        <span class="display-4">@ViewData["Title"]</span>
    </div>
    <hr />
    <div class="col-lg-4">
        <a role="button" asp-action="RelatorioAgenda" asp-controller="Agendamento" asp-route-id="@Model.Agenda.Id" class="btn btn-outline-info">Imprimir relatorio do atendimento</a>
    </div>
    <div class="col-lg-4">
        @{
            double totalPecasHeader = 0;
            double totalServicosHeader = 0;
        }
        @if (Model.PecaAtendimentos.Count != 0 || Model.PecaAtendimentos == null) {
            @foreach (var item in Model.PecaAtendimentos) {
                var custo = (item.Material.ValorCusto * item.Material.PorcentagemLucro + item.Material.ValorCusto) * item.Quantidade;
                totalPecasHeader += custo;
            }
        }
        @if (Model.ServicoAtendimentos.Count != 0 || Model.ServicoAtendimentos == null) {

            @foreach (var item in Model.ServicoAtendimentos) {
                totalServicosHeader += item.Servico.Valor;
            }
        }
        @{
            var totalGeral = totalPecasHeader + totalServicosHeader;
        }
        <span>Valor total do atendimento: @string.Format(CultureInfo.GetCultureInfo("pt-BR"), "{0:C}", totalGeral)</span>

    </div>
</div>
<hr />

@if (Model.ServicoAtendimentos.Count != 0 || Model.ServicoAtendimentos == null) {
    <div class="row">
        <div class="col-lg-10 mt-3">
            <h5>Serviços realizados</h5>
        </div>
    </div>

    <table class="table table-striped text-center" id="table-contacts">
        <thead>
            <tr>
                <th class="text-center" scope="col">Id</th>
                <th class="text-center" scope="col">Serviço</th>
                <th class="text-center" scope="col">Valor</th>
            </tr>
        </thead>
        <tbody>
            @{
                double total = 0;
            }
            @foreach (var item in Model.ServicoAtendimentos) {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Servico.Nome</td>
                    <td>@string.Format(CultureInfo.GetCultureInfo("pt-BR"), "{0:C}", item.Servico.Valor)</td>
                    @{
                        total += item.Servico.Valor;
                    }
                </tr>
            }
            <tr>
                <td colspan="3">Valor total: @string.Format(CultureInfo.GetCultureInfo("pt-BR"), "{0:C}", total)</td>
            </tr>
        </tbody>
    </table>
}

@if (Model.PecaAtendimentos.Count != 0 || Model.PecaAtendimentos == null) {
    <hr />
    <div class="row">
        <div class="col-lg-10 mt-3">
            <h5>Peças utilizadas</h5>
        </div>
    </div>

    <table class="table table-striped text-center" id="table-contacts">
        <thead>
            <tr>
                <th class="text-center" scope="col">Id</th>
                <th class="text-center" scope="col">Material</th>
                <th class="text-center" scope="col">Quantidade</th>
                <th class="text-center" scope="col">Valor</th>
            </tr>
        </thead>
        <tbody>
            @{
                double totalPecas = 0;
            }
            @foreach (var item in Model.PecaAtendimentos) {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Material.Nome</td>
                    <td>@item.Quantidade</td>
                    @{
                        var custo = (item.Material.ValorCusto * item.Material.PorcentagemLucro + item.Material.ValorCusto) * item.Quantidade;
                        totalPecas += custo;
                    }
                    <td>@string.Format(CultureInfo.GetCultureInfo("pt-BR"), "{0:C}", custo)</td>
                </tr>
            }
            <tr>
                <td colspan="4">Valor total: @string.Format(CultureInfo.GetCultureInfo("pt-BR"), "{0:C}", totalPecas)</td>
            </tr>
        </tbody>
    </table>
}

<div class="col-4 mt-4">
    <form asp-action="FinalizarAgendamento" asp-controller="Agendamento">
        <input type="hidden" asp-for="@Model.Agenda.Id" value="@Model.Agenda.Id" />
        <button type="submit" class="btn btn-success">Finalizar</button>
        <a role="button" class="btn btn-outline-secondary" asp-action="Index" asp-controller="Agendamento">Voltar</a>
    </form>
</div>
